@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
    font-family: "Lora", serif !important;
}

* {
    margin: 0;
    padding: 0;
}

iframe {
    box-shadow: none !important;
    filter: none !important;
    outline: none !important;
    overflow: hidden;
}